.myHeading {
    font-family: 'Bree Serif', serif;
    font-size: 4rem;
}

.green {
    color: #14a800 !important;
}
.clients{
    background-image: url('https://image.shutterstock.com/image-photo/meeting-business-people-600w-519699358.jpg');
    background-position: top;
    background-size: cover;
    border-radius: 9px;
}
.myCard{
    background-color: #14a800;
    color: white;
    border-radius: 9px;
}
.myCard:hover{
    background-color: white;
    color: #14a800;
}